    
    {% if todo_list %}
        {% for todo in todo_list %}
        <div class="ui segment">
            <p class="ui big header">{{ todo.title }}</p>

            {% if todo.complete == False %}
                <span class="ui gray label">Not Completed</span>
            {% else %}
                <span class="ui green label">Completed</span>
            {% endif %}

            <input class="ui blue button" id="{{todo.id}}" onclick="update(this.id)" type="button" value="Update">
            <input class="ui red button" id="{{todo.id}}" onclick="delet(this.id)" type="button" value="Delete">
        </div>
        {% endfor %}
    {% else %}
        <div class="ui segement">
            <p class="ui center aligned big header">Todo List is empty</p>
        </div>
    {% endif %}
