<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
        <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
    </head>
    <body>
        <script>
            function add(){
                var title = document.getElementById("title").value;
                if(title){
                    $.ajax({
                        url: "/add",
                        type: "POST",
                        data: {'data': title},
                        success: function(resp){
                            document.getElementById("container").innerHTML = resp.data;
                            document.getElementById("title").focus();
                        },
                        error: function(error){
                            console.log(error);
                        }
                    });
                }
                
            }
            function update(id){
                $.ajax({
                    url: "/update",
                    type: "POST",
                    data: {'data': id},
                    success: function(resp){
                        document.getElementById("container").innerHTML = resp.data;
                        document.getElementById("title").focus();
                    },
                    error: function(error){
                        console.log(error);
                    }
                });
            }
            function delet(id){
                $.ajax({
                    url: "/delete",
                    type: "POST",
                    data: {'data': id},
                    success: function(resp){
                        document.getElementById("container").innerHTML = resp.data;
                        document.getElementById("title").focus();
                    },
                    error: function(error){
                        console.log(error);
                    }
                });
            }
        </script>
        <script>
            var a = "";
            function load(){
                setInterval(function(){
                    $.ajax({
                        url: "/reload",
                        type: "POST",
                        success: function(resp){
                            if(a!=resp.data){
                                document.getElementById("container").innerHTML = resp.data;
                            }
                            a = resp.data;
                        },
                        error: function(error){
                            console.log(error);
                        }
                    });
                },1000);
            }
            load();
        </script>
        <div class="ui container" style="margin-top: 50px;">
            <h1 class="ui center aligned header">Todo List</h1>
            <div class="ui form">
                <div class="field">
                    <label for="title">Todo title</label>
                    <input type="text" name="title" placeholder="Enter todo..." id="title">
                    <br>
                    <input type="button" value="Add" class="ui blue button" onclick="add()">
                </div>
            </div>
        </div>
        <div class="ui container" style="margin-top: 10px;" id="container">
            {% if todo_list %}
                {% for todo in todo_list %}
                <div class="ui segment">
                    <p class="ui big header">{{ todo.title }}</p>

                    {% if todo.complete == False %}
                        <span class="ui gray label">Not Completed</span>
                    {% else %}
                        <span class="ui green label">Completed</span>
                    {% endif %}

                    <input class="ui blue button" id="{{todo.id}}" onclick="update(this.id)" type="button" value="Update">
                    <input class="ui red button" id="{{todo.id}}" onclick="delet(this.id)" type="button" value="Delete">
                </div>
                {% endfor %}
            {% else %}
                <div class="ui segement">
                    <p class="ui center aligned big header">Todo List is empty</p>
                </div>
            {% endif %}
        </div>
        
    </body>
</html>
